{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "defaults",
            "not dead",
            "not IE 11"
          ]
        }
      }
    ]
  ]
}
